# Build artifacts
_build/
cover/
deps/
doc/
.elixir_ls/
*.beam

# Hex
hex_metadata.config
*.tar
*.lock
!mix.lock

# Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Erlang crash dumps
erl_crash.dump
